.project-card {
  background-color: var(--card-projet);
  padding: 2rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border: var(--border-projet);
  box-shadow: var(--box-shadows-projet);
}

.project-card:hover {
  transform: translateY(-5px);
  background-color: var(--over-project);
}

.project-card h3 {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.project-card p {
  margin-bottom: 1.5rem;
  color: var(--text-color);
  opacity: 0.9;
}

.project-techs {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.project-tech {
  background: var(--secondary-color);
  color: #ffffff;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.project-link {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}